.channel-manager {
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f5f5f5;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-button {
    margin-bottom: 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.channel-list {
    display: flex;
    flex-direction: column;
}

.channel-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.channel-button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    padding-right: 35px;
    width: 220px;
    /* 채널명이 길면 메시지를 뚫고 나오는 이슈가 있음 */

    /* 텍스트일 땐 텍스트 아이콘을 붙이고 싶은데? */
}

.channel-delete-button {
    background: transparent;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.channel__plus-button {
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
}